<div class='logos-container'>
    <div *ngFor='let l of logosVisibility; let i = index'>
        <app-logo [ngStyle]="!l || (i > 0 && ballIsActive) ? {'visibility': 'hidden'} : {}" [isInversed]='(i % 2) !== inversedIndex'
                  [yTranslation]="linesTogether ? (-i + (numberOfLogos - 1)/2) : 0"
                  [columnsTogether]="columnsTogether"
                  [ballIsActive]='ballIsActive'
        >
        </app-logo>
    </div>
    <div *ngIf='gamePreparation' class='game-message'>Pressione "Espaço" para jogar</div>
</div>
