@import '../../../styles.scss';

.category-selector {
    display: flex;
    justify-content: space-between;
    z-index: 100;
    margin: 3vh;
    > div {
        @include button-div;
    }
    .category-tab {
        padding: 3vh;
    }
}

.list-container {
    width: 70vw;
    height: 60vh;
}

.ranking-line {
    display: flex;
    justify-content: space-between;
    margin: 1vh 0;
}