@import '../../../styles.scss';

.category-selector {
    display: flex;
    justify-content: space-between;
    z-index: 100;
    margin: 3vh;
    > div {
        @include button-div;
    }
    .category-tab {
        padding: 3vh;
    }
}

.list-container {
    width: 70vw;
    height: 60vh;
    overflow-y: auto;
    table {
        width: 100%;
        th {
            font-weight: initial;
        }
        tr {
            text-align: center;
        }
    }
}

.ranking-line {
    margin: 1vh 0;
    padding: 0 1vw;
}