<div class="container" [ngStyle]="{transform: 'translateY(' + yTranslation*100 + '%)'}">
    <div [ngClass]="(isInversed ? 'active ' : '') + 'color-reverser'"></div>
    <div class='logo-container'>
        <div *ngFor='let l of word.split(""); let i = index' 
             [ngClass]="{'letter-container': true, 'logo-ball': ballIsActive}" 
             [ngStyle]="getTransformX(i)">
            <img src='../../../assets/SVG/Mereo-{{l}}.svg' 
                [ngStyle]='(ballIsActive && l === "M") ? {zIndex: 100} : {}'>
        </div>
    </div>
</div>