.container {
    width: 100%;
    height: 100%;
    position: relative;
    transition: transform 0.5s ease-in-out;

    .logo-container {
        width: 100%;
        height: 100%;
        padding: 3vh 10vh;
        display: flex;
        justify-content: space-between;
        align-items: center;
        
        .letter-container {
            border-radius: 200px;
            height: 100%;
            flex: 1 1 100%;
            transition: transform 0.5s ease-in-out, outline-width 0.5s ease-in-out, outline-offset 0.5s ease-in-out;
            display: flex;
            justify-content: center;
        }

        img {
            object-fit: contain;
            height: 100%;
        }
    }
    
}

.color-reverser {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: white;
    mix-blend-mode: exclusion;
    transition: transform 0.5s ease-in-out;

    &:not(.active) {
        transform: translateX(100%);
    }
}

.letter-m {
    z-index: 100;
    .absolute-ball {
        border: white 1vh solid;
        background-color: black;
        height: 30vh;
        width: 30vh;
        position: absolute;
        border-radius: 100px;
        z-index: -1;
        transform: scale(1.25) translateY(-6.5vh);
    }
    &.game-prep {
        transform: translateX(116%) translateY(139%) scale(0.26);
    }
}

.game-prep:not(.letter-m) {
    visibility: hidden;
}