* {
    box-sizing: border-box;
}

body {
    overflow: hidden;
    background-color: black;
    color: white;
    font-family: 'Press Start 2P', cursive;
    margin: 0;
    cursor: url('./assets/PixelatedDefault.png'), auto;
}

input, button, textarea {
    background-color: transparent;
    outline: none;
    border: none;
    color: inherit;
    font: inherit;
}

$grayHighlight: rgba(255, 255, 255, 0.5);
@mixin gray-highlight {
    background-color: $grayHighlight;
}

.gray-highlight {
    @include gray-highlight;
}

@mixin button-div {
    cursor: url('./assets/PixelatedPointer.png'), auto;
    user-select: none;
    &:hover {
        @include gray-highlight
    }
}

.button-div {
    @include button-div;
    &.with-padding {
        padding: 2vh;
    }
}

@mixin scrollbars($size, $foreground-color, $background-color: mix($foreground-color, white,  50%)) {
    // For Google Chrome
    &::-webkit-scrollbar {
      width:  $size;
      height: $size;
    }
  
    &::-webkit-scrollbar-thumb {
      background: $foreground-color;
    }
  
    &::-webkit-scrollbar-track {
      background: $background-color;
    }
  
    // For Internet Explorer
    & {
      scrollbar-face-color: $foreground-color;
      scrollbar-track-color: $background-color;
    }
  }

* {
    @include scrollbars(10px, $grayHighlight, black);
}